.btn {
    text-decoration: none;
    color: #fff;
    text-align: center;
    letter-spacing: 0.7px;
    cursor: pointer;
    padding: 0 16px;
    text-transform: uppercase;
    height: 36px;
    border-radius: 3px;
    border: none;
    transition-duration: .4s;
    background-color: #26a69a;
}

.btn-error, .btn-off {
    background-color: #d43535;
}
.btn-ok, .btn-on {
    background-color: #47c266;
}
